body{
  /* {background-image: url(./assessts/v870-tang-36.jpg); */
  background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }  